<link rel="stylesheet" href="/css/home.css">
<div class="launch-page">
    <h1 class="center"> Welcome to Career Camp</h1>
    <p class="center">Career Camp is a website where you can provide the students data and then later download that students data in <b>CSV</b> format.</p>
</div>