<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<% if(locals.user){ %>
    <div class="profile-container">
        <div class="profile-details">
          <div class="icon-container">
            <i class="fas fa-user"></i>
          </div>
          <h1 class="name"><%= user.name %></h1>
          <div class="icon-container">
            <i class="fas fa-envelope"></i>
          </div>
          <p class="email"><%= user.email %></p>
        </div>
      </div>
<% } %>